footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.445);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    
}

footer a {
    text-decoration: none;
    color: rgb(112, 61, 146);
    padding: 10px;
}

footer a:hover {
    background-color: #924f84ad;
}

footer .center {
    margin: 0 auto;
}